@model List<barber_management_system.Models.Hizmet>

<h1>Hizmetler</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Fiyat</th>
            <th>Dakika</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hizmet in Model)
        {
            <tr>
                <td>@hizmet.HizmetID</td>
                <td>@hizmet.HizmetAd</td>
                <td>@hizmet.Fiyat</td>
                <td>@hizmet.Dakika</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Hizmet" asp-action="Edit" asp-route-id="@hizmet.HizmetID">Güncelle</a>
                    <a href="@Url.Action("Delete", "Hizmet", new { id = hizmet.HizmetID })" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-controller="Hizmet" asp-action="Add">Yeni Hizmet Ekle</a>
