@model barber_management_system.Models.CalisanViewModel

@{
    ViewData["Title"] = "Çalışan Düzenle";
}

<h1>Çalışan Düzenle</h1>
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">
        @ViewBag.Message
    </div>
}
else{}

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="CalisanAd" class="control-label"></label>
        <input asp-for="CalisanAd" class="form-control" />
        <span asp-validation-for="CalisanAd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CalisanSoyad" class="control-label"></label>
        <input asp-for="CalisanSoyad" class="form-control" />
        <span asp-validation-for="CalisanSoyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="text" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="selectedHizmetler" class="control-label">Hizmetler</label>
        <select asp-for="SelectedHizmetler" class="form-control select2" multiple>
            <option value="">Hizmet Seçiniz</option>  @* Boş seçenek eklendi *@
            @foreach (var hizmet in ViewBag.AvailableHizmetler)
            {
                <option value="@hizmet.HizmetID"
                        selected="@(Model.Hizmetler?.Any(h => h.HizmetID == hizmet.HizmetID) ?? false)">
                    @hizmet.HizmetAd
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary ms-3" asp-controller="Calisan" asp-action="Edit" asp-route-id="@Model.CalisanId">Çalışan Güncelle</button>
    </div>
    <button type="submit" class="btn btn-danger ms-3" asp-controller="Calisan" asp-action="Delete" asp-route-id="@Model.CalisanId">Çalışan Sil</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}