@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<barber_management_system.Models.Musteri>
@{
    var successMessage = TempData["SuccessMessage"];
    var errorMessage = TempData["ErrorMessage"];
    if (successMessage != null)
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }

    if (errorMessage != null)
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }
}
<h1>Müsteriler</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
            <th>Sifre</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.MusteriID</td>
                <td>@musteri.MusteriAd</td>
                <td>@musteri.MusteriSoyAd</td>
                <td>@musteri.Email</td>
                <td>@musteri.Sifre</td>
                <td><a class="btn btn-primary" asp-controller="Müsteri" asp-action="Edit" asp-route-id="@musteri.MusteriID">Edit</a>
                    <a href="@Url.Action("Delete", "Müsteri", new { id = musteri.MusteriID })" class="btn btn-danger btn-sm">Sil</a>
                </td>

            </tr>
        }
    </tbody>
</table>
<td><a class="btn btn-primary" asp-controller="Müsteri" asp-action="Add">Add</a></td>
